:root {
    --main-red: #ff2600;
    --next-rede : #f65f45;
    --grey-style: #f2f2f2;
    --sec-grad: #5b2c2c;
    --sec-blue: #5488cf;
}

body {
    background-color: #f0f0f0;
    font-size: 16px;
    font-weight: 400;
    font-family: "TildaSans";
    overflow-x: hidden;
}

@media screen and (min-width: 1000px) {
    .container {
        padding: 0px 30px;
    }

    .phone { 
        position: fixed;
        top: calc(25% + 61.6px + 15px);
        right: 0;
        background-color: #fff;
        border-radius: 15px 0px 0px 15px;
        padding: 5px 0px 5px 10px;
        border: 1px solid rgba(0,0,0,.4);
        border-right: none;
        cursor: pointer;
        z-index: 988;
    }

    .phone img { 
        width: 50px;
        cursor: pointer;
    }

    /* !!!!!!!!!!!!!!CALC!!!!!!!!!!!!!!!!!!!!! */

    .calculator {
        position: fixed;
        top: 25%;
        right: 0;
        background-color: #fff;
        border-radius: 15px 0px 0px 15px;
        padding: 5px 0px 5px 10px;
        border: 1px solid rgba(0,0,0,.4);
        border-right: none;
        cursor: pointer;
        z-index: 988;
    }

    .calculator img { 
        width: 50px;
        cursor: pointer;
    }

    .calculator__menu { 
        position: fixed;
        top: 50%;
        left: 50%;
        background-color: #fff;
        padding: 15px 30px;
        z-index: 1000;
        width: 75vw;
        opacity: 0;
        
        display: flex;
        flex-direction: column;
        transform: translate(100vw, -50%);
        transition: opacity 0.2s ease, transform 0.4s ease-in;
    }

    .calculator__menu.active { 
        opacity: 1;
        transform: translate(-50%, -50%);

    }

    .calculator__title { 
        align-items: center;
        display: flex;
        justify-content: space-between;
        
    }

    .calculator__title h4 { 
        background-color: var(--main-red);
        border-radius: 10px;
        border: 1px solid #f65f45;
        padding: 10px 30px;
        color: #fff;
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
    }

    .calculator__steps { 
        display: flex;
        gap: 20px;
    }

    .calculator__step { 
        text-align: center;
        border: 1px solid rgba(0,0,0,.2);
        padding: 10px 15px;
        transition: all 0.3s ease;
    }

    .calculator__step.active { 
        border: 1px solid rgba(255,0,0,.6);
    }

    .calculator__step h5 { 
        font-size: 20px;
    }

    .calculator__menu h3 { 
        text-align: center;
        margin-top: 30px;
        font-size: 30px;
        font-weight: 600;
    }

    .calculator__container { 
        overflow-x: hidden;

        

    }

    .calculator__type, .calculator__place, .calculator__mat { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 30px;
        width: 700px;
        margin: 50px auto 0px auto;
        
    }

    /* .calculator__place, .calculator__mat { 
        display: none;
        
    } */

    .calculator__type__item, .calculator__place__item, .calculator__mat__item { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        border: 1px solid rgba(255,0,0,.5);
    }

    .calculator__type__item__func { 
        display: flex;
        gap: 15px;
    }

    .calculator__next { 
        margin: 20px auto 0px auto;
        background: linear-gradient(to bottom, var(--main-red), #5b2c2c);
        color: #fff;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
        font-size: 24px;
        font-weight: 600;
        padding: 5px 15px;
        border-radius: 5px;
        transition: 0.3s all ease;
    }

    .calculator__next.hide { 
        display: none;
    }

    .calc__mat__image { 
        border-radius: 50%;
        border: 1px solid rgba(255,255,255,1);
    }

    .calculator__form { 
        display: flex;
        flex-direction: column; 
        gap: 10px;
        justify-content: center;
        width: 700px;
        margin: 50px auto 0px auto;

    }

    .calculator__form__submit { 
        margin: 20px auto 0px auto;
        background: linear-gradient(to bottom, var(--main-red), #5b2c2c);
        color: #fff;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
        font-size: 24px;
        font-weight: 600;
        padding: 5px 15px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 5px;

        transition: 0.3s all ease;
    }

    .calculator__form__submit img  { 
        height: 32px;
    }

    .calculator__form__data { 
        width: 100%;
        border: 1px solid rgba(0,0,0,.5);
        padding: 10px 5px;
    }

    .calculator__form__check { 
        display: flex;
        gap: 15px;
        align-items: center;
        margin-top: 15px;
        justify-content: center;

    }

    .calculator__form__check__cont { 
        display: flex;
        gap: 5px;
        align-items: center;
    }

    /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

    .header {
        padding: 0px 30px;
        background-color: #f2f2f2;
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        z-index: 999;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        font-family: "TildaSans";
    }

    .header__wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .header__top {
        display: flex;
        justify-content: space-between;
        
    }

    .header__top__logo {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .header__top__logo img {
        height: 114px;
    }

    .header__top__logo p {
        color: var(--main-red);
        font-size: 32px;
        font-weight: 600;
    }

    .header__top__disc {
        display: flex;
        gap: 100px;
    }

    .header__top__phone__title {
        display: flex;
        gap: 15px;
    }

    .header__top__phone__title p {
        font-size: 20px;
        font-weight: 600;
    }

    .header__top__phone {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-top: 10px;
    }

    .header__top__phone__link {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-left: 31px;
    }

    .header__top__phone__link a {
        color: var(--sec-blue);
        font-weight: 500;
    }

    .header__top__geo {
        display: flex;
        align-items: flex-start;
        padding-top: 10px;
        gap: 5px;
        font-weight: 600;
    }

    .header__top__geo__disc {
        text-wrap: nowrap;
    }

    .header__top__func {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;
        position: relative;
    }

    .header__top__func::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: #fff;
        top: 0;
        left: -50px;
    }

    .header__top__func button {
        border-radius: 10px;
        height: 40px;
        padding: 0px 40px;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
    }

    .header__top__button__price {
        background: linear-gradient(to bottom, var(--main-red), #5b2c2c);
        color: #fff;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
        font-size: 24px;
        font-weight: 600;
        padding: 5px 15px;
        border-radius: 5px;
        transition: 0.3s all ease;
    }

    .header__top__button__call {
        background: linear-gradient(to bottom, var(--main-red), #5b2c2c);
        color: #fff;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
        font-size: 24px;
        font-weight: 600;
        padding: 5px 15px;
        border-radius: 5px;
        transition: 0.3s all ease;
    }

    .header__foot__list {
        border-top: 1px solid rgba(0,0,0,.3);
        display: flex;
        gap: 10px;
        justify-content: center;
        overflow-x: scroll;
        padding: 5px 0px;
    }

    .header__foot__list::-webkit-scrollbar {
        height: 5px;
        background-color: #f0f0f0; /* Цвет фона */
    }

    .header__foot__list::-webkit-scrollbar-thumb {
        background-color: #c0c0c0; /* Цвет полосы */
    }

    .header__foot__list li a {
        color: #000;
    }

    .header__foot__list li {
        position: relative;
        font-size: 20px;
        font-weight: 500;
        text-wrap: nowrap;
        color: #000;
    }

    .header__foot__list li.active::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -2px;
        left: 0px;
        background-color: var(--sec-blue);
        transition: 0.3s ease all;
    }

    .header__foot__list li:hover::after {
        width: 0;
    }

    .header__foot__list li::before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -2px;
        left: 0px;
        background-color: #000;
        transition: 0.3s ease all;
    }
    .header__foot__list li:hover::before {
        width: 100%;
    }
}

@media screen and (max-width: 999px) {
}

@media screen and (min-width: 1000px) {
    .main__wrapper {
        display: flex;
        flex-direction: column;
        gap: 60px;
        margin-top: 156.2px;
    }

    .title {
        padding: 30px 50px;
        position: relative;
        height: 115vh;
        display: flex;
        flex-direction: column;
    }

    .fur-bef,
    .fur-after {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%; /* Обе картинки занимают всю доступную ширину контейнера */
        background-size: cover;
        background-position: center;
        z-index: -1;
    }

    .fur-bef {
        left: 0;
        background-image: url(../img/fur-after.jpg);
    }

    .fur-after {
        right: 0;
        background-image: url(../img/fur-bef.jpg);
        clip-path: inset(
            0 0 0 calc(50% + 0.05px)
        ); /* Обрезаем fur-after до половины ширины, плюс 2px для учета ширины линии */
    }

    .divider {
        position: absolute;
        top: 0;
        bottom: 0;
        left: calc(50% - 0.05px); /* Положение линии по центру */
        width: 0.1px;
        background-color: black;
        cursor: ew-resize;
        z-index: 1;
    }

    .divider-circle {
        position: absolute;
        border: 4px solid #000;
        background-color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        user-select: none;
    }

    .divider-left {
        position: absolute;
        top: 50%;
        left: calc(50% - 12px);
        transform: translate(-50%, -50%);
        width: 10px;
        height: 13px;
        user-select: none;
    }

    .divider-right {
        position: absolute;
        top: calc(50% + 0.5px);
        left: calc(50% + 12px);
        transform: translate(-50%, -50%);
        width: 10px;
        height: 13px;
        user-select: none;
    }

    .divider-right img,
    .divider-left img {
        scale: 1.5;
    }

    .main-title {
        font-size: 40px;
        font-weight: 600;
        font-family: "drukcur";
        z-index: 12;
        color: transparent; /* Делаем текст прозрачным */
        background-image: linear-gradient(
            to bottom,
            #363636,
            #000000
        ); /* Создаем градиент от красного к черному */
        -webkit-background-clip: text; /* Применяем градиент только к тексту */
        background-clip: text;
    }

    .title__point {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 20px;
        padding-left: 50px;
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }

    .title__point__item {
        font-weight: 600;
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding-left: 5px;
    }

    .title__point__square {
        width: 10px;
        height: 10px;
        background-color: var(--main-red);
        position: relative;
    }

    .title__point__square::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        top: -25%;
        left: -25%;

        outline: 2px solid var(--main-red);
    }

    .title__func {
        margin-top: 20px;
        
        width: max-content;
        z-index: 2;
    }

    .title__func__title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .title__func__title span { 
        color: var(--main-red);
    }

    .title__func__cont {
        
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 5px;
        width: max-content;
    }

    .title__func__block {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        border-radius: 5px;
        padding: 5px 10px;
    }

    .title__func__block input {
        padding: 10px 20px;
        border: 1px solid #000;
        border-radius: 5px;
        width: 100%;
        background-color: #fff;
    }

    .title__func__block button {
        background: linear-gradient(to bottom, var(--main-red), #5b2c2c);
        color: #fff;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
        font-size: 24px;
        font-weight: 600;
        padding: 5px 15px;
        border-radius: 5px;
        transition: 0.3s all ease;
        width: 100%;
        text-wrap: nowrap;
    }

    .title__func__block button:hover {
        border: 1px solid var(--main-red);
        
        background: #fff;
        color: var(--main-red);
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    }

    .title__func__check {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    .title__func__check p {
        font-size: 11px;
    }

    .title__func__check a {
        color: var(--main-red);
        text-decoration: underline;
    }

    .title__foot {
        margin: auto auto 0 auto;
        display: flex;
        gap: 20px;
        border-radius: 5px;
        z-index: 2;
    }

    .title__foot button {
        background: linear-gradient(to bottom, var(--main-red), #5b2c2c);
        color: #fff;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
        font-size: 24px;
        font-weight: 600;
        padding: 10px 20px;
        border-radius: 5px;
        transition: 0.3s all ease;
    }
}

/* @media screen and (min-width: 1500px) {
    .title {
        padding: 30px 50px;
        background-image: url(../img/fur-bef.jpg);
        background-size: cover;
        height: 135vh;
        display: flex;
        flex-direction: column;
    }

    .fur-bef {
        background-image: url(../img/fur-bef.jpg);
    }

    .fur-after {
        background-image: url(../img/fur-after.jpg);
    }

    .background-image {
        background-size: cover;
        height: 100%;
    }
} */

@media screen and (max-width: 999px) {
}

@media screen and (min-width: 1000px) {
    .all-title {
        font-size: 32px;
        font-weight: 600;
        text-align: center;
        font-family: "drukcur";
    }

    .type__title {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .type__title__item {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    .type__title__item img {
        transform: rotate(-45deg);
    }

    .type__title__item p {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 500;
    }

    .type__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 30px;
        margin-top: 30px;
    }

    .type__item {
        display: flex;
        gap: 5px;
        align-items: center;
        background-color: #f4f3f1;
    }

    .type__item img {
        width: 50%;
        max-height: 205px;
    }

    .type__item__disc {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .type__item__disc h2 {
        font-size: 24px;
        font-weight: 500;
    }

    .type__item__disc__price span {
        color: var(--main-red);
    }

    .type__item__disc__button {
        background: linear-gradient(to bottom, var(--main-red), #5b2c2c);
        color: #fff;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
        font-size: 20px;
        font-weight: 600;
        padding: 5px 10px;
        border-radius: 5px;
        transition: 0.3s all ease;
    }

    .type__item__disc__button:hover {
        outline: 1px solid var(--main-red);
        background-color: #fff;
        background: none;
        color: var(--main-red);
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    }
}

@media screen and (max-width: 999px) {
}

@media screen and (min-width: 1000px) {
    .service__list {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 40px;
    }

    .service__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
        padding: 15px 10px;
        border: 1px solid #000;
        border-radius: 15px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    .service__item__img {
        border-radius: 15px;
    }

    .service__item__title {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        font-size: 24px;
    }

    .service__item__price span {
        color: var(--main-red);
    }

    .service__item__show {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        font-size: 20px;
    }

    .service__item__show img {
        width: 24px;
    }

    .service__item__under span {
        color: var(--main-red);
    }

    .service__item__submit {
        background: linear-gradient(to bottom, var(--main-red), #5b2c2c);
        color: #fff;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
        font-size: 20px;
        font-weight: 600;
        padding: 10px 30px;
        border-radius: 5px;
        transition: 0.3s all ease;
    }

    /* !!!!!!!!!!!!!!!!!!!!!!!!ОКНО УСЛУ!!!!!!!!!!!!!!!!!!!!!! */
    .page-blur {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        position: fixed;
        z-index: -1;

        opacity: 0;
        transition: 0.5s ease opacity;
    }

    .page-blur.on {
        opacity: 1;
        z-index: 999;
    }

    .service__item__list {
        position: fixed;
        width: 50%;
        height: 500px;
        max-height: 500px;
        overflow-y: scroll;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        font-size: 20px;
        border: 1px solid #000;
        border-radius: 15px 0px 0px 15px;
        z-index: 1000;
        display: none;
    }

    .service__item__list.show {
        display: block;
    }

    .service__item__list::-webkit-scrollbar {
        width: 5px;
        background-color: #fff;
    }

    .service__item__list::-webkit-scrollbar-thumb {
        background-color: var(--main-red);
        border-radius: 15px;
    }

    .service__item__list__container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        position: relative;
        padding: 15px 30px;
    }

    .service__item__list__tab {
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .service__item__list__main span {
        color: var(--main-red);
    }

    .service__item__list__sec span {
        color: var(--main-red);
    }

    .service__item__list__sec {
        padding-left: 30px;
    }

    .close__service__item__list {
        position: absolute;
        font-size: 32px;
        font-weight: 600;
        color: #000;
        top: 10px;
        right: 20px;
        cursor: pointer;
    }

    .close__service__item__list:hover {
        color: var(--main-red);
    }
}

@media screen and (max-width: 999px) {
}

@media screen and (min-width: 1000px) {
    #Now {
        position: sticky;
        top: 0;
    }

    .now {
        border-radius: 15px 15px 0px 0px;
        background-color: #fff;
        border: 0.1px solid rgba(0, 0, 0, 0.2);
        padding: 30px 0px 0px 0px;
    }

    .now__block {
        display: flex;
        gap: 50px;
    }

    .now__card {
        width: 100%;
        border: 1px solid var(--main-red);
        padding: 15px 30px 30px 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: space-between;
    }

    .now__card h3 {
        font-size: 32px;
        font-weight: 600;
    }

    .now__button__whatsapp,
    .now__button__telegramm {
        padding: 10px 30px;
        display: flex;
        gap: 10px;
        border-radius: 15px;
        color: #fff;
    }

    .now__button__whatsapp {
        background-color: #25d366;
    }

    .now__button__telegramm {
        background-color: #0088cc;
    }

    .now__card__form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .now__card__form input {
        width: 100%;
        padding: 10px 30px;
        border-radius: 15px;
        border: 1px solid #000;
    }

    .now__form__button {
        background: linear-gradient(to bottom, var(--main-red), #5b2c2c);
        color: #fff;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
        font-size: 20px;
        font-weight: 600;
        padding: 10px 30px;
        border-radius: 5px;
        transition: 0.3s all ease;
    }
}

@media screen and (max-width: 999px) {
}
